.main-components {
  background-color: #bbbbbc;
  overflow: hidden;
}

@font-face {
  font-family: 'USSRStencil';
  src: url('./fonts/ussr-stencil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app-page2 {
  position: relative;
  z-index: 1;
}

.app-page2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/1ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}

.app-page3 {
  position: relative;
  z-index: 1;
}

.app-page3::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/2ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page4 {
  position: relative;
  z-index: 1;
}

.app-page4::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/3ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}

.app-page5 {
  position: relative;
  z-index: 1;
}

.app-page5::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/4ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page6 {
  position: relative;
  z-index: 1;
}

.app-page6::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/5ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page7 {
  position: relative;
  z-index: 1;
}

.app-page7::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/6ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page8 {
  position: relative;
  z-index: 1;
}

.app-page8::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/7ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page9 {
  position: relative;
  z-index: 1;
}

.app-page9::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/8ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page10 {
  position: relative;
  z-index: 1;
}

.app-page10::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/9ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page11 {
  position: relative;
  z-index: 1;
}

.app-page11::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/2ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}
.app-page12 {
  position: relative;
  z-index: 1;
}

.app-page12::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/background12slide.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  filter: grayscale(0.5) blur(3px);
}

.app-page13 {
  position: relative;
  z-index: 1;
}

.app-page13::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/background13slide.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  filter: grayscale(0.5) blur(3px);
}

.app-page14 {
  position: relative;
  z-index: 1;
}

.app-page14::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/background14slide.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  filter: grayscale(0.5) blur(3px);
}

.app-page15 {
  position: relative;
  z-index: 1;
}

.app-page15::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/background15slide.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  filter: grayscale(0.5) blur(3px);
}

.app-page16 {
  position: relative;
  z-index: 1;
}

.app-page16::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./backgrounds/10ф.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.1; */
  z-index: -1;
  pointer-events: none;
  /* filter: grayscale(0.5) blur(3px); */
}